<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la página</title>
    
    
</head>
<body>

<header>
    <h1>Chat Múltiple</h1>
</header>

<section>
    <h1>Universidad Politécnica Salesiana</h1>
    <br>
    <h3>Práctica realizada por: Juan Francisco Quizhpi Fajardo</h3>
    <br>
    <h3>Práctica: Virualización de aplicaciones (dockerfile)</h3>

    <button routerLink="/chat" class="btn btn-primary" >Iniciar Chat</button>          
    <router-outlet></router-outlet>
</section>
</body>
</html>